<ion-header>
  <ion-toolbar>
    <ion-title>Dictation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-button><ion-icon name="play-outline"></ion-icon></ion-button>
    <ion-button><ion-icon name="pause-circle-outline"></ion-icon></ion-button>
    <ion-button><ion-icon name="stop-circle-outline"></ion-icon></ion-button>
    <ion-button><ion-icon name="reload-outline"></ion-icon></ion-button>
    <ion-button>Submit</ion-button>
  </ion-card>
</ion-content>


<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button color="danger"> 
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button> 
    </ion-title>
  </ion-toolbar>
</ion-footer>
