<ion-header>
  <ion-toolbar>
    <ion-col width-50 style="text-align: center">
    <ion-title>DICTATION</ion-title>
  </ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-input placeholder="Answer"></ion-input>
     </ion-item> 
    <ion-button><ion-icon name="play-outline"></ion-icon></ion-button>
    <ion-button><ion-icon name="pause-circle-outline"></ion-icon></ion-button>
    <ion-button><ion-icon name="stop-circle-outline"></ion-icon></ion-button>
    <ion-button><ion-icon name="reload-outline"></ion-icon></ion-button>
    <ion-button>Submit</ion-button>
  </ion-card>
</ion-content>


<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button color="danger"> 
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button> 
    </ion-title>
  </ion-toolbar>
</ion-footer>