<ion-header>
  <ion-toolbar> 
    <ion-col width-50 style="text-align: center">
    <ion-title>
      WELCOME TO...</ion-title>
      </ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-col width-50 style="text-align: center">
    <ion-card-header>
      <ion-card-title>LOGIN</ion-card-title>
    </ion-card-header>
  </ion-col>
  
    <ion-card-content  width-50 style="text-align: center">
      <ion-item>
       <ion-input [(ngModel)]="user.email" placeholder="Username"></ion-input>
      </ion-item> 
      <br>
      <ion-item>
       <ion-input [(ngModel)]="user.password" placeholder="Password" type="Password"></ion-input>
      </ion-item>
      <br>
      
      
      
        <ion-row width-50 style="text-align: center" class="center">
      <ion-button shape="round" color="secondary" (click)="login()">Login</ion-button>
      <ion-button shape="round" color="primary" (click)="register()">Sign in</ion-button>
      </ion-row> 
    
  

    </ion-card-content>
  </ion-card>

</ion-content>
<ion-alert-controller>

</ion-alert-controller>
<script src="login.page.ts"></script>

<ion-badge color="Primary"> Created by </ion-badge>
<ion-badge color="Primary"> Cesar Hortua </ion-badge>
<ion-badge color="Primary"> 2020 </ion-badge>