<ion-header>
  <ion-toolbar>
    <ion-title>login -PruebaVersant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Practice your Dictation</ion-card-subtitle>
      <ion-card-title>Dictation</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
       <ion-label>username</ion-label>
       <ion-input placeholder="username"></ion-input>
      </ion-item> 
    </ion-card-content>
  </ion-card>

</ion-content>
