<ion-header>
  <ion-toolbar> 
    <ion-title>
      Versant Practice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>

      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
       <ion-input [(ngModel)]="user.email" placeholder="Username"></ion-input>
      </ion-item> 
      <br>
      <ion-item>
       <ion-input [(ngModel)]="user.password" placeholder="Password" type="Password"></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" color="secondary" (click)="login()">Login</ion-button>
      <ion-button expand="block" color="primary" (click)="register()">Register</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-badge color="Primary"> Created by </ion-badge>
<ion-badge color="Primary"> Cesar Hortua </ion-badge>
<ion-badge color="Primary"> 2020 </ion-badge>