<ion-header>
  <ion-toolbar>
    <ion-col width-50 style="text-align: center">
    <ion-title>PRACTICE</ion-title>
  </ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card > 
    <ion-card-header> 
      <ion-button  routerLink="/dictation" > 
        Dictation
      </ion-button>
        <ion-card-content>
        Practice Listening and Writing.
        </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>


<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button  routerLink="/home" color="danger"> 
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button> 
    </ion-title>
  </ion-toolbar>
</ion-footer>