<ion-header>
  <ion-toolbar>
    <ion-col width-50 style="text-align: center">
    <ion-title>PRACTICE</ion-title>
  </ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card > 
    <ion-card-header> 
      <ion-button  routerLink="/sentencebuilds" > 
        C Sentence Builds
      </ion-button>
        <ion-card-content>
        You will hear a group of words and rearrange them into a sentence.
        </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-content>
  <ion-card > 
    <ion-card-header> 
      <ion-button  routerLink="/sentencecompletion" > 
        F Sentence Completion
      </ion-button>
        <ion-card-content>
        Type the best word that fits the meaning of the sentence.
        </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>


<ion-content>
  <ion-card > 
    <ion-card-header> 
      <ion-button  routerLink="/dictation" > 
        G Dictation
      </ion-button>
        <ion-card-content>
       You have to write down the sentence exactly as you hear it.
        </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>


<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button  routerLink="/home" color="danger"> 
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button> 
    </ion-title>
  </ion-toolbar>
</ion-footer>