<ion-header>
  <ion-toolbar>
    <ion-title>Practice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-button (click)="logmeIn()">
        <ion-card-title>Dictation</ion-card-title>
      </ion-button>
      <ion-card-subtitle>Section G</ion-card-subtitle>
        <ion-card-content>
        Practice Listening and Writing in this exercise
        </ion-card-content>
    </ion-card-header>
  </ion-card>
  <ion-button (click)="logmeIn()">
    <ion-card-title>Back</ion-card-title>
  </ion-button>
</ion-content>
