<ion-header>
  <ion-toolbar>
    <ion-col width-50 style="text-align: center">
    <ion-title>SENTENCE COMPLETION</ion-title>
  </ion-col>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-card-content>
<ion-text>
  Type the word that best fits the meaning of
  the sentence. Type only one word.
</ion-text>
</ion-card-content>  

<ion-card>
  <ion-card-content>
      <ion-item> 
        [Sentence] 
      </ion-item>
      </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
        <ion-input  placeholder="Answer"> 
          </ion-input>     
  </ion-card-content>
</ion-card>


  <ion-card>

    <ion-row>
      <ion-col width-50 style="text-align: center">  
    <ion-button  (click)="Submit(answer)"> Submit </ion-button>
    <ion-button  (click)="Cancel"> Cancel </ion-button>
  </ion-col>
</ion-row>
  </ion-card>

  <ion-card>
    <ion-card-content>
       
          <ion-label style="text-align: center;"> 
            {{respuesta}} 
          </ion-label>
       
        
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
        <ion-item>
          Score 
          <ion-label style="text-align: right;">  
            [100]
          </ion-label>
        </ion-item>
     </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
        <ion-item>
          Total Score 
          <ion-label style="text-align: right;"> 
            [10000]
          </ion-label>
        </ion-item>
        </ion-card-content>
    </ion-card>


</ion-content>


<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button  routerLink="/practice" color="danger"> 
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button> 
    </ion-title>
  </ion-toolbar>
</ion-footer>