<ion-header>
  <ion-toolbar>
    <ion-col width-50 style="text-align: center">
    <ion-title>DASHBOARD</ion-title>
  </ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <circle-progress
  [percent]="85"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300" 
></circle-progress>


<ion-card>
  <ion-row>
    <ion-card-content>
      <ion-text>
        Your current GSE level is  
        <ion-note> 
          [30]
        </ion-note>
      </ion-text>
      </ion-card-content>
  </ion-row>
</ion-card>

<ion-card>
  <ion-row>
    <ion-card-content>
      <ion-text>
        Your current CEFR level is  
        <ion-note>
           [A2]
        </ion-note>
      </ion-text>
      </ion-card-content>
  </ion-row>
</ion-card>

</ion-content>


<ion-content>
  <ion-card>
    <ion-card-header>  
      <ion-button color="primary"
      (click)="Achievements()">Achievements</ion-button>
    </ion-card-header>
  </ion-card> 
  <ion-card>
    <ion-card-header>
      <ion-button color="primary"
      (click)="Puzzle()">Puzzle</ion-button>
    </ion-card-header>
  </ion-card> 



<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button color="danger"> 
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button> 
    </ion-title>
  </ion-toolbar>
</ion-footer>