<ion-header>
  <ion-toolbar>
    <ion-col width-50 style="text-align: center">
    <ion-title>DASHBOARD</ion-title>
  </ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <circle-progress
  [percent]="85"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300" 
></circle-progress>
</ion-content>


<ion-content>
  <ion-card>
    <ion-card-header>  
      <ion-button color="secondary"
      (click)="Achievements()">Achievements</ion-button>
    </ion-card-header>
  </ion-card> 
  <ion-card>
    <ion-card-header>
      <ion-button color="secondary"
      (click)="Puzzle()">Puzzle</ion-button>
    </ion-card-header>
  </ion-card> 



<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button color="danger"> 
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button> 
    </ion-title>
  </ion-toolbar>
</ion-footer>