<ion-header>
  <ion-toolbar>
    <ion-col width-50 style="text-align: center">
    <ion-title>ACHIEVEMENTS</ion-title>
  </ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>
<br>

<ion-card-content>
  <ion-tittle>
    GENERAL ACHIEVEMENTS
  </ion-tittle>
  </ion-card-content>

    <ion-list>
    <ion-item>
    <ion-icon name="aperture-outline"></ion-icon> 
    <ion-col>
      <ion-subtitle>Starter</ion-subtitle>
    </ion-col>
    <ion-col width-50 style="text-align: right">
      <ion-text>+25 XP</ion-text>
    </ion-col>  
    <ion-checkbox disabled="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-icon name="earth-outline"></ion-icon>  
    <ion-col>
    <ion-text>Onliner</ion-text>
    </ion-col>
    <ion-col width-50 style="text-align: right">
      <ion-text>+25 XP</ion-text>
    </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-icon name="desktop-outline"></ion-icon>  
    <ion-col>
    <ion-text>Constanter</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+50 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
        <ion-icon name="trophy-sharp"></ion-icon>
    <ion-col>
    <ion-text>First Place</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+5000 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-icon name="trophy-outline"></ion-icon> 
    <ion-col>
    <ion-text>Second Place</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+3000 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-icon name="trophy"></ion-icon>
    <ion-col>
    <ion-text>Third Place</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+2000 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>
</ion-list>

<ion-card-content>
  <ion-text>
    POINTS
  </ion-text>
  </ion-card-content>

<ion-list>
  <ion-item>
    <ion-icon name="flash-outline"></ion-icon> 
    <ion-col>
    <ion-text>X2</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+25 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-icon name="flash-outline"></ion-icon> 
    <ion-col>
    <ion-text>X3</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+50 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-icon name="flash"></ion-icon> 
    <ion-col>
    <ion-text>X5</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+100 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-icon name="flash-sharp"></ion-icon> 
    <ion-col>
    <ion-text>X5</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+1000 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

</ion-list>

  
<ion-card-content>
  <ion-text>
    PROGRESS
  </ion-text>
  </ion-card-content>

    <ion-list>
    <ion-item>
      <ion-icon name="barbell-outline"></ion-icon> 
    <ion-col>
      <ion-subtitle>A2</ion-subtitle>
    </ion-col>  
    <ion-col width-50 style="text-align: right">
      <ion-text>+200 XP</ion-text>
    </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-icon name="barbell"></ion-icon>  
    <ion-col>
    <ion-text>A2+</ion-text>
    </ion-col>
    <ion-col width-50 style="text-align: right">
      <ion-text>+300 XP</ion-text>
    </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-icon name="bicycle-outline"></ion-icon>  
    <ion-col>
    <ion-text>B1</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+400 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-icon name="bicycle"></ion-icon>  
    <ion-col>
    <ion-text>B1+</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+500 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-icon name="flame-outline"></ion-icon> 
    <ion-col>
    <ion-text>B2</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+700 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-icon name="flame"></ion-icon> 
    <ion-col>
    <ion-text>B2+</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+750 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-icon name="ribbon-sharp"></ion-icon> 
    <ion-col>
    <ion-text>C1</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+1000 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>
</ion-list>

  <ion-card-content>
    <ion-text>
      CONSEQUENCE
    </ion-text>
    </ion-card-content>

    <ion-list>
  <ion-item>
    <ion-icon name="shuffle-outline"></ion-icon>  
    <ion-col>
    <ion-text>Repeater</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+25 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-icon name="repeat"></ion-icon>  
    <ion-col>
    <ion-text>Double Repeater</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+50 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-icon name="skull-outline"></ion-icon>
    <ion-col>
    <ion-text>Resigner</ion-text>
  </ion-col>
  <ion-col width-50 style="text-align: right">
    <ion-text>+25 XP</ion-text>
  </ion-col>
    <ion-checkbox disabled="true"></ion-checkbox>
  
  </ion-item>
  </ion-list>
  </ion-content>




  <ion-footer [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <ion-button routerLink="/dashboard" color="danger"> 
          <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-button> 
      </ion-title>
    </ion-toolbar>
  </ion-footer>