<ion-header>
  <ion-toolbar>
    <ion-col width-50 style="text-align: center">
    <ion-title>ACHIEVEMENTS</ion-title>
  </ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>
<br>
  <ion-subtitle>Dictation Achievements</ion-subtitle>

  <ion-list>
    <ion-item>
    <ion-icon name="aperture-outline"></ion-icon>  
    <ion-label>5 Answers in a row</ion-label>
    <ion-checkbox disabled="true"></ion-checkbox>
    </ion-item>
    <ion-item>
    <ion-icon name="aperture-outline"></ion-icon>  
    <ion-label>10 Answers in a row</ion-label>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-icon name="aperture-outline"></ion-icon>  
    <ion-label>20 Answers in a row</ion-label>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-icon name="american-football-outline"></ion-icon>  
    <ion-label>GSE 30</ion-label>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-icon name="shuffle-outline"></ion-icon>  
    <ion-label>Repeater</ion-label>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-icon name="skull-outline"></ion-icon> 
    <ion-label>Returner</ion-label>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>
  </ion-list>
  </ion-content>




  <ion-footer [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <ion-button color="danger"> 
          <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-button> 
      </ion-title>
    </ion-toolbar>
  </ion-footer>