<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-col width-50 style="text-align: center">
    <ion-title> 
      WELCOME
    </ion-title>
  </ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>  
      <ion-button color="primary"
      (click)="Practice()">Practice</ion-button>
    </ion-card-header>
    </ion-card> 
  <ion-card>
    <ion-card-header>
      <ion-button color="primary"
      (click)="Dashboard()">Dashboard</ion-button>
    </ion-card-header>
  </ion-card> 
  <ion-card>
    <ion-card-header>
      <ion-button color="primary"
      (click)="Settings()">Settings</ion-button>
    </ion-card-header>
  </ion-card> 
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button color="danger"
      button (click)="logmeIn()">SignOut</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>

