<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> 
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>  
      <ion-button color="secondary"
      (click)="Practice()">Practice</ion-button>
    </ion-card-header>
  </ion-card> 
  <ion-card>
    <ion-card-header>
      <ion-button color="secondary"
      (click)="DashBoard()">DashBoard</ion-button>
    </ion-card-header>
  </ion-card> 
  <ion-card>
    <ion-card-header>
      <ion-button color="secondary"
      (click)="Settings()">Settings</ion-button>
    </ion-card-header>
  </ion-card> 
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button color="danger"
      (click)="SignOut()">SignOut</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>

